body{
    background-color:rgb(233, 247, 244);
}

h2{
    background-color: rgb(226, 228, 195);
    border-style: solid;
    padding: 4px;
    margin: 4px;
}

button
{
    margin: 8px;
}

p
{
    margin: 8px;
}